*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.flex-container{
    display:flex;
}

body{
    background-color: #DDDDDD;
    width:100%;
}

header{
    width:100%;
    display:flex;
    justify-content: space-around;
}

#fundo{
    opacity: 1;
    z-index:-1;
    position:absolute;
    height: 20vh;
    width: 100%;
}

div{
    width:50%;
}

div #logo{
    width:100%;
    margin-top: 12vh;
    font-size: 22px;
    align-self: justify;
    margin-left: 5vw;
    font-family:  'Montserrat Alternates', sans-serif;
}


div #icon-menu{
    width:30%;
    margin-left: 28vw;
    margin-top:10vh;
}

div #icon-menu img{
    width:90%;
 
}

nav{
    width:100%;
    background-color: #C4C4C4;
    margin-top: 20vh;
    position: absolute;
    font-family:'Montserrat Alternates', sans-serif;
    display:none;
}   

nav ul{
    list-style: none;
}

nav li{
    padding-bottom: 4vh;
    padding-top: 4vh;
    border-bottom: #000 solid 1px;
    text-align: center;
}

nav a{
    text-decoration: none;
    color:#000;
    font-weight: bold;
    line-height: 2;
    font-size:24px;
}

main{
    width:90%;
    margin-top: 8vh;
    margin-left: 4vw;
    font-family:'Montserrat Alternates', sans-serif ;
    font-size: 22px;
}

h3{
    margin-top: 5vh;
}

p{
    margin-top: 4vh;
}

#mais{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 5vh;
    font-family: 'Roboto', sans-serif;
}

#mais div{
    width:90%
}

#mais div img{
    margin-left: 8vw;
    width: 100%;
}

#mais div h4{
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: normal;
    margin-top: 3vh;
    margin-left: 8vw;
    background-color: #C4C4C4;
}


#mais div p{
    font-size: 18px;
    margin-left: 8vw;
}

#produtos{
    display:flex;
    flex-direction: column;
    width: 90%;
    margin-top: 5vh;
    font-family: 'Roboto', sans-serif;
}

#produtos div{
    width:90%;
}

#produtos div img{
    margin-left: 8vw;
    margin-top: 3vh;
    width: 100%;
}

#produtos  div p{
    font-size: 18px;
    margin-left: 8vw;
}

footer{
    width: 100%;
    background-color: #C4C4C4;
}

footer p{
    font-size: 20px;
    font-family:'Montserrat Alternates', sans-serif ;
    text-align: center;
    font-weight: bold;
}

@media only screen and (min-width:980px){
    body{
        width:100%
    }
    header{
        display: flex;
        width:100%;
    }
    nav{
        margin-left: 18vw;
        display:block;
        width:60%;
        background-color: #c4c4c400;
        margin-top: 22vh;
    }   
    
    nav ul{
        list-style: none;
        margin-left: 12vw;
    }
    
    nav li{
        margin-left: 3vw;
        display:inline ;
        border-bottom: #000 solid 0px;
        text-align: justify;
    }
    
    nav a{
        text-decoration: none;
        color:#000;
        font-weight: bold;
        line-height: 1;
        font-size:24px;
    
    }
    #fundo{
        width:100%;
        height: 30vh;
    }
    #icon-menu{
        display:none;
    }
    div{
        width:50%;
    }
    div #logo{
        margin-top: 20vh;
        width:100%;
        margin-left: 6vw;
        font-size: 35px;
    }
    main{
        margin-top: 14vh;
        margin-left: 4vw;
        font-family:'Montserrat Alternates', sans-serif ;
        font-size: 25px;
    }

    h3{
        margin-top: 6vh;
    }

    p{  
        line-height: 1.5;
        margin-top: 6vh;
    }
    #mais{
        display: flex;
        flex-direction: row;
        width: 90%;
        margin-top: 5vh;
        font-family: 'Roboto', sans-serif;
    }
    #mais div{
        width: 90%;
    }
    #mais div img{
        margin-left: 8vw;
        width: 80%;
    }
    #mais div h4{
        text-align: center;
        width: 80%;
        font-size: 20px;
        font-weight: bold;
        margin-top: 3vh;
        margin-left: 8vw;
        background-color: #C4C4C4;
    }
    #mais div p{
        margin-top: 4vh;
        font-size: 18px;
        margin-left: 8vw;
    }
    #produtos{
        display: flex;
        flex-direction: row;
        width: 90%;
        margin-top: 5vh;
        font-family: 'Roboto', sans-serif;
    }

    #produtos div img{
        margin-left: 8vw;
        margin-top: 3vh;
        width: 80%;
    }

    #produtos div p{
        margin-top: 4vh;
        font-size: 18px;
        margin-left: 8vw;
    }
    footer{
        width: 100%;
    }

}    